.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form {
    flex: 1;
    margin: auto;
}

.result {
    flex: 1;
    margin: auto;
}